/* Stylizacja globalna */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

/* Stylizacja nagłówka */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6f00;
    color: white;
    padding: 20px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 130px;
    width: auto;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sekcja galerii */
.gallery {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.gallery h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ff6f00;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.gallery-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.gallery-item h3 {
    font-size: 1.5em;
    color: #ff6f00;
    margin-bottom: 15px;
}

/* Sekcja przed i po */
.before-after {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.before, .after {
    width: 48%;
}

.before img, .after img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.before p, .after p {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

/* Sekcja kontaktowa */
.contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff6f00;
}

.contact-section p {
    font-size: 1.2em;
    margin: 10px 0;
}

.contact-section a {
    color: #ff6f00;
    font-weight: 600;
}

.contact-section a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #ff6f00;
    color: white;
    padding: 20px;
    text-align: center;
}
